header {
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #507687; /* Cor alterada */
    padding: 0 2vw;
}

#img_logo {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
}

#logo_pgn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#btns_paginas {
    display: flex;
    justify-content: flex-end;
    gap: 1.5vw;
    margin-right: 5%;
}

.btn {
    width: 10vw;
    height: 5vh;
    border-radius: 50px;
    background-color: #FCFAEE; /* Cor alterada */
    color: #2D2D2C; /* Cor alterada para contraste */
    font-size: 1.2vw;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button.btn {
    border: none;
    padding: 0.8vh;
    color: #FCFAEE; /* Cor alterada */
    font-size: 1.2vw;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button.btn:hover {
    background-color: #2D2D2C; /* Cor mais escura no hover */
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#btn_home, #btn_curso, #btn_tradutor {
    background-color: #2D2D2C; /* Cor alterada */
}