@import url(./header.css);
@import url(./infos.css);
@import url(./footer.css);


body {
    margin: 0;
    padding: 0;
    background-color: #011C40;
    overflow-x: hidden;
}
h6 {
    color:#D9D0C1;
    margin-left: 45%;
}