/* Define que a tela será dividida em duas colunas */
#planeta {
    display: flex;
    height: 100vh; /* A altura ocupará toda a tela */
}

/* Primeira seção (ideia) com título e texto */
#ideia {
    flex: 1; /* Ocupa metade da tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
}

/* Estilo para o título */
#titulo1 {
    font-size: 3vw;
    margin-bottom: 20px;
    color: #17274e;
    background-color: #f0f0f0; /* Cor de fundo do título */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 20px; /* Bordas arredondadas do título */
}

/* Parágrafo centralizado abaixo do título */
#ideia h6 {
    font-size: 1.5vw;
    color: #333;
    text-align: center;
    background-color: #054570; /* Cor de fundo do parágrafo */
    border-radius: 20px; /* Bordas arredondadas do parágrafo */
    padding: 15px; /* Espaçamento interno */
}


/* Segunda seção (botoes) com botões empilhados */
#botoes {
    flex: 1; /* Ocupa a outra metade da tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

/* Estilo geral para os botões */
#botoes button {
    width: 20vw;
    height: 8vh;
    margin: 10px 0;
    font-size: 1.5vw;
    background-color: #17274e;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#botoes button img {
    width: 2vw;
    height: 2vw;
}

/* Ajusta o estilo quando o mouse passar sobre os botões */
#botoes button:hover {
    background-color: #17274e;
}

