@import url(tradutor.css);

footer {
    width: 100vw;
    height: auto; /* Define uma altura adequada para o footer */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center;
    position: absolute; /* Garante que o footer fique fixado no fim da página */
    bottom: 0;
    background-color: #2D2D2C;
    padding: 15px;
}

.content-footer {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center;
    
}

#txt-footer {
    font-size: 1vh;
    margin-left: 40%;
    color: #FCFAEE;
    
}
