<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/login/login.css">
    <script src="https://kit.fontawesome.com/8f497cd43a.js" crossorigin="anonymous"></script>
    <script type="module" src="./../os-pecinha/controller/login.js"></script>
    <title>Librae Conecta</title>
</head>

<body>
    <section class="login-section">
        <div class="login-box">
            <div class="login-image">
                <img src="https://tse3.mm.bing.net/th?id=OIG4.598kJdUHMNUefF0.ZbUg&pid=ImgGn" alt="Imagem de Login">
            </div>
            <div class="login-container">
                <h1>Librae</h1>
                <div class="social-login">
                    <button class="google-btn">
                        <i class="fa-brands fa-google"></i>
                        Continue com Google
                    </button>
                    <button class="facebook-btn">
                        <i class="fa-brands fa-facebook"></i>
                        Continue com Facebook
                    </button>
                </div>
                <input type="email" placeholder="Email" class="input-field">
                <input type="password" placeholder="Senha" class="input-field">
                <input type="button" value="Entrar">
                <div class="login-footer"> Ainda não tem uma conta? <a href="./cadastro.html">Crie uma</a> </div>
            </div>
        </div>
    </section>
</body>

</html>
