<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tradutor de Libras</title>
  <link rel="stylesheet" href="./../css/projetos/tradutor.css">
</head>
<body>
  <div class="container">
    <h1>Tradutor de Libras para Português</h1>
    <div class="translation-container">
      <textarea id="input-text" placeholder="Digite seu texto aqui..."></textarea>
      <button onclick="translateText()">Traduzir</button>
      <div id="output-text"></div>
    </div>
    <div class="avatar-container">
      <h2>Tradução em Libras</h2>
      <div id="avatar"> 
    
      </div>
    </div>
  </div>
  <script src="./../../controller/tradutor/tradutor.js"></script>
</body>
</html>
