<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/projetos/tradutor.css">
    <link rel="stylesheet" href="./../css/projetos/pedatradução.css">
    <title>Librae Conecta</title>
</head>

<body>
    <header>
        <h1 id="titulo-principal">Librae Conecta</h1>
        <nav id="navegacao-principal">
            <ul id="lista-links">
                <li><a href="#tradutor">Tradutor</a></li>
                <li><a href="#curso">Curso de Libras</a></li>
            </ul>
        </nav>
    </header>

    <main class="container" id="conteudo-principal">

        <section class="secao-tradutor" id="tradutor">
            <h2 id="titulo-tradutor">Tradutor de Libras para Português</h2>
            <video id="elementoVideo" autoplay playsinline></video>
            <button id="botaoIniciarTraducao" class="btn">Iniciar Tradução</button>
            <div id="resultadoTraducao"></div>
        </section>

    </main>
    <div>
        <footer>
            <div class="content-footer">
                <h6 id="txt-footer">Todos os direitos autorais reservados</h6>
            </div>
        </footer>
    </div>
</body>

</html>